h1::first-letter{
    font-size: 2em;
    font-style: italic;
}
p::first-line{
    background-color: hsl(355, 24%, 47%);
}
p::selection{
    color: rgb(7, 163, 150);
    background-color: hsl(0, 0%, 21%);
}
/*#fruit li::before{
    
}
*/
#apple::after{
    content: "🍎";
}
#orange::after{
    content: "🍊";
}
#banana::after{
    content: "🍌";
}
#fruit li::marker{
    content: "✔";
    color: hsl(120, 100%, 64%);
    font-size: 1.2em;
}