body {
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #141414;
  border-bottom: 2px solid #333;
}

nav {
  text-align: center;
  padding: 10px;
}

nav a {
  margin: 10px;
  color: white;
}

video {
  display: block;
  margin: 20px auto;
  border: 2px solid #444;
  box-shadow: 0 0 15px black;
}

table {
  margin: auto;
  border-collapse: collapse;
}
